<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Conjunction.Foundation.Core" description="Conjunction Foundation Core">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Core\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Conjunction.Foundation.Core.Templates" database="master" path="/sitecore/templates/Conjunction/Foundation" />
            <include name="Conjunction.Foundation.Core.Module" database="master" path="/sitecore/system/Modules/Conjunction" />
          </predicate>
          </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>