@using Sitecore.Mvc
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Conjunction - @ViewBag.Title</title>
</head>
<body>
  <div class="container">
    @Html.Sitecore().Placeholder("main")
  </div>
</body>
</html>