<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<!--
					This processor configurates dependencies needed by Conjunction.
					
					You can extend from the default configurator implementation and override the RegisterDependencies method
					to inject different dependencies into Conjunction's internal framework.
				-->
				<processor type="Conjunction.Sitecore.Infrastructure.Pipelines.Configurator, Conjunction.Sitecore"
                   patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>